<a href="https://colab.research.google.com/github/QoeRea985/animated-octo-dollop/blob/main/Untitled38.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# закачиваем с гугл-диска новый df и приводим его к рабочему состоянию. 
# новый df закачиваем на гугл-диск
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
# загружаем данные с гугл диска и посмотрим их
df = pd.read_csv('/content/drive/MyDrive/result21csv.csv')
df

              date;close
0     1987-01-05;0.19196
1     1987-01-06;0.19531
2     1987-01-07;0.19978
3     1987-01-08;0.19978
4     1987-01-09;0.20257
...                  ...
1035  1990-12-24;0.39286
1036  1990-12-25;0.39174
1037  1990-12-26;0.39063
1038  1990-12-27;0.38839
1039  1990-12-28;0.38393

[1040 rows x 1 columns]

In [ ]:
# у нас всего одна колонка вместо двух
df.dtypes

date;close    object
dtype: object

In [ ]:
# посмотрим первую строку
df['date;close'][0]

'1987-01-05;0.19196'

In [ ]:
# значения разделены знаком переноса строки (;), а также каждое значение представлено в виде ключ=значение
# разбивка колонки датафрейма на 2 отдельные колонки
df_1 = df['date;close'].str.split(';',expand=True)
df_1

               0        1
0     1987-01-05  0.19196
1     1987-01-06  0.19531
2     1987-01-07  0.19978
3     1987-01-08  0.19978
4     1987-01-09  0.20257
...          ...      ...
1035  1990-12-24  0.39286
1036  1990-12-25  0.39174
1037  1990-12-26  0.39063
1038  1990-12-27  0.38839
1039  1990-12-28  0.38393

[1040 rows x 2 columns]

In [ ]:
df_1.dtypes

0    object
1    object
dtype: object

In [ ]:
# переименуем колонки датафрейма, чтобы каждая из них содержала название соответствующего ключа
df_1.columns=['date','close']
df_1

            date    close
0     1987-01-05  0.19196
1     1987-01-06  0.19531
2     1987-01-07  0.19978
3     1987-01-08  0.19978
4     1987-01-09  0.20257
...          ...      ...
1035  1990-12-24  0.39286
1036  1990-12-25  0.39174
1037  1990-12-26  0.39063
1038  1990-12-27  0.38839
1039  1990-12-28  0.38393

[1040 rows x 2 columns]

In [ ]:
df_1.dtypes

date     object
close    object
dtype: object

In [ ]:
# приводим к рабочим форматам, первый столбец к дататайм
df_1['date'] = pd.to_datetime(df_1['date'], format='%Y %m %d')

In [ ]:
df_1.dtypes

date     datetime64[ns]
close            object
dtype: object

In [ ]:
# приводим к рабочим форматам, 2 столбец к float64
df_1['close'] = df_1['close'].astype (float)

In [ ]:
df_1.dtypes

date     datetime64[ns]
close           float64
dtype: object

In [ ]:
# делаем колонку индексом и получаем временной ряд
df_1.set_index('date', inplace = True)
df_1

              close
date
1987-01-05  0.19196
1987-01-06  0.19531
1987-01-07  0.19978
1987-01-08  0.19978
1987-01-09  0.20257
...             ...
1990-12-24  0.39286
1990-12-25  0.39174
1990-12-26  0.39063
1990-12-27  0.38839
1990-12-28  0.38393

[1040 rows x 1 columns]

In [ ]:
df_1.dtypes

close    float64
dtype: object

In [ ]:
# устанавливаем периодичность\длину(freq). в данном случае 5\2. Она необходима для прогноза. 
# НО!!! Она противопоказана при построении графиков. Ругается и пишет всякую чушь. Но в основном требует DatetimeIndex.
# а когда ты пытаешься это сделать, то комп намекает, что его не обманешь и он видет период и предлагает перейти на data.to_timestamp (метка времени).
# но это не решает проблему, т.к. у data to timestamp время считается с 01.01.1970 г. в секундах. Что это будет на графике?
df_1.index = pd.period_range('1987-01-05', '1990-12-28', freq='B')
df_1.index[:12]

PeriodIndex(['1987-01-05', '1987-01-06', '1987-01-07', '1987-01-08',
             '1987-01-09', '1987-01-12', '1987-01-13', '1987-01-14',
             '1987-01-15', '1987-01-16', '1987-01-19', '1987-01-20'],
            dtype='period[B]')

In [ ]:
# Сохранение результата в новом файле на сервере
# создадим новый файл result3.csv с помощью функции to_csv(), сохранив при этом индекс
# result3.csv временно появится в сессионное хранилище - слева sample_date
df_1.to_csv('result3.csv', index = True)
print('Файл успешно сохранился в сессионное хранилище!')

Файл успешно сохранился в сессионное хранилище!

In [ ]:
# из библиотеки google.colab импортируем класс files
from google.colab import files

In [ ]:
#  Скачивание на жесткий диск/ применим метод .download() объекта files
# адрес из сессионного хранилища. слева sample_date
files.download('/content/result3.csv')